name: mattermost-ziti-webhook
on:
  issues:
  issue_comment:
  pull_request_review:
    types: [submitted]
  pull_request_review_comment:
  pull_request:
    types: [opened, reopened]
  push:
  fork:
  release:
    types: [released]

jobs:
  ziti-webhook:
    runs-on: ubuntu-latest
    name: Ziti Mattermost Action - Py
    if: github.repository == 'openziti/tlsuv'
    steps:
    - uses: openziti/ziti-mattermost-action-py@v1
      if: github.event_name != 'pull_request_review'
      with:
        zitiId: ${{ secrets.ZITI_MATTERMOST_IDENTITY }}
        webhookUrl: ${{ secrets.ZHOOK_URL_DEV_NOTIFICATIONS }}
        eventJson: ${{ toJson(github.event) }}
        senderUsername: "GitHubZ"

    - uses: openziti/ziti-mattermost-action-py@v1
      if: github.event_name == 'pull_request_review' && github.event.review.state == 'approved'
      with:
        zitiId: ${{ secrets.ZITI_MATTERMOST_IDENTITY }}
        webhookUrl: ${{ secrets.ZHOOK_URL_DEV_NOTIFICATIONS }}
        eventJson: ${{ toJson(github.event) }}
        senderUsername: "GitHubZ"
